<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
    <div class="card-body">
      <h1 class="text-center mb-4"><%= t('users.headers.login') %></h1>

      <%= form_with url: login_path, local: true, class: "needs-validation" do |form| %>
        <div class="mb-3">
          <%= form.label :email, t('users.form.email'), class: "form-label" %>
          <%= form.email_field :email, class: "form-control", required: true %>
        </div>

        <div class="mb-3">
          <%= form.label :password, t('users.form.password'), class: "form-label" %>
          <%= form.password_field :password, class: "form-control", required: true %>
        </div>

        <div class="d-grid">
          <%= form.submit t('users.headers.login'), class: "btn btn-primary" %>
        </div>

        <div class="d-grid mt-3">
          <span class="mb-1"><%= t('users.form.not_member')%></span>
          <%= link_to t('users.headers.registration'), signup_path, class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
