<%= form_with model: @task, local: true, class: "needs-validation", data: { controller: "task-time", turbo: false } do |form| %>
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :title, t('tasks.form.title'), class: "form-label" %>
      <%= form.text_field :title, class: "form-control #{'is-invalid' if @task.errors[:title].any?}", required: true %>
      <% if @task.errors[:title].any? %>
        <div class="invalid-feedback">
          <%= @task.errors[:title].first %>
        </div>
      <% end %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :priority, t('tasks.form.priority'), class: "form-label" %>
      <%= form.select :priority, Task.priorities.keys.map { |p| [t("enums.task.priority.#{p}"), p] }, {}, class: "form-select #{'is-invalid' if @task.errors[:priority].any?}" %>
      <% if @task.errors[:priority].any? %>
        <div class="invalid-feedback">
          <%= @task.errors[:priority].first %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row" data-controller="task-time">
    <div class="col-md-6 mb-3">
      <%= form.label :start_time, t('tasks.form.start_time'), class: "form-label" %>
      <div class="input-group" data-task-time-target="startTime">
        <%= form.text_field :start_time, class: "form-control datetime-picker" %>
        <% if @task.errors[:start_time].any? %>
          <div class="invalid-feedback" style="display: block;">
            <%= @task.errors[:start_time].first %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :end_time, t('tasks.form.end_time'), class: "form-label" %>
      <div class="input-group" data-task-time-target="endTime">
        <%= form.text_field :end_time, class: "form-control datetime-picker #{'is-invalid' if @task.errors[:end_time].any?}" %>
        <% if @task.errors[:end_time].any? %>
          <div class="invalid-feedback" style="display: block;">
            <%= @task.errors[:end_time].first %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :content, t('tasks.form.content'), class: "form-label" %>
    <%= form.text_area :content, class: "form-control picker" %>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :new_tag, t('tasks.form.new_tag'), class: "form-label" %>
      <%= form.text_field :new_tag, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :status, t('tasks.form.status'), class: "form-label" %>
      <%= form.select :status, Task.statuses.keys.map { |s| [t("enums.task.status.#{s}"), s] }, {}, class: "form-select" %>
    </div>
  </div>

  <div class="mb-2" data-controller="tag-buttons">
    <p><%= t('users.form.select_mark') %></p>
    <% Tag.all.each do |tag| %>
      <label class="btn btn-outline-primary tag-button mb-2 <%= 'active' if @task.tag_ids.include?(tag.id) %>" data-tag-buttons-target="button">
        <input type="checkbox" name="task[tag_ids][]" value="<%= tag.id %>" autocomplete="off" <%= 'checked' if @task.tag_ids.include?(tag.id) %> hidden>
        <%= tag.name %>
      </label>
    <% end %>
  </div>

  <%#= group %>
  <div class="align-items-center mb-3" data-controller="group-buttons">
    <div class="mb-3">
      <p><%= t('tasks.form.choose_share_with_groups') %></p>
    </div>
    <span class="btn btn-success btn-sm">
      <%= t('tasks.form.selected') %> <span data-group-buttons-target="totalCount" class="fw-bold">(0)</span> <%= t('tasks.form.groups') %>
    </span>
    <button class="btn btn-danger btn-sm ms-1" data-action="click->group-buttons#clearAll"><%= t('tasks.form.clear_all_selections') %></button>
    <div class="mt-3">
      <% @groups_by_letter.each do |letter, groups| %>
        <button class="btn btn-secondary dropdown-toggle mb-2 align-items-center" type="button" id="dropdown<%= letter %>" data-bs-toggle="dropdown" aria-expanded="false" data-group-buttons-target="letter" data-letter="<%= letter %>" style="width: 95px;">
          <%= letter %>
          <span data-group-buttons-target="count" data-letter="<%= letter %>" class="badge rounded-circle bg-success bg-opacity-25 ms-2"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdown<%= letter %>">
          <% groups.each do |group| %>
            <li>
              <label class="dropdown-item group-button" data-action="click->group-buttons#toggle" data-group-buttons-target="button" data-letter="<%= letter %>">
                <input type="checkbox" name="task[group_ids][]" value="<%= group.id %>" autocomplete="off" <%= 'checked' if @task.group_ids.include?(group.id) %> hidden>
                <%= group.name %>
              </label>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <%#= shared %>
  <div class="align-items-center mb-3" data-controller="user-buttons">
  <div class="mb-3">
    <p><%= t('users.form.choose_share_with_other_users') %></p>
  </div>
  <span class="btn btn-success btn-sm">
    <%= t('users.form.selected') %> <span data-user-buttons-target="totalCount" class="fw-bold">(0)</span> <%= t('users.form.peoples') %>
  </span>
  <button class="btn btn-danger btn-sm ms-1" data-action="click->user-buttons#clearAll"><%= t('users.form.clear_all_selections') %></button>
  <div class="mt-3">
    <% @users_by_letter.each do |letter, users| %>
      <button class="btn btn-secondary dropdown-toggle mb-2 align-items-center" type="button" id="dropdown<%= letter %>" data-bs-toggle="dropdown" aria-expanded="false" data-user-buttons-target="letter" data-letter="<%= letter %>" style="width: 95px;">
        <%= letter %>
        <span data-user-buttons-target="count" data-letter="<%= letter %>" class="badge rounded-circle bg-success bg-opacity-25 ms-2"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdown<%= letter %>">
        <% users.each do |user| %>
          <li>
            <label class="dropdown-item user-button" data-action="click->user-buttons#toggle" data-user-buttons-target="button" data-letter="<%= letter %>">
              <input type="checkbox" name="task[shared_user_ids][]" value="<%= user.id %>" autocomplete="off" <%= 'checked' if @task.shared_user_ids.include?(user.id) %> hidden>
              <%= user.email %>
            </label>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

  <div class="text-center mb-10">
    <%= link_to t('tasks.link.back'), personal_tasks_path ,class: "btn btn-secondary"%>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
