<h1><%= t('tasks.headers.task_details') %></h1>

<p>
  <strong><%= t('tasks.headers.title') %>:</strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= t('tasks.headers.content') %>:</strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t('tasks.headers.start_time') %>:</strong>
  <%= @task.start_time %>
</p>

<p>
  <strong><%= t('tasks.headers.end_time') %>:</strong>
  <%= @task.end_time %>
</p>

<p>
  <strong><%= t('tasks.headers.priority') %>:</strong>
  <%= t("enums.task.priority.#{@task.priority}") %>
</p>

<p>
  <strong><%= t('tasks.headers.status') %>:</strong>
  <%= t("enums.task.status.#{@task.status}") %>
</p>

<p>
  <strong><%= t('tasks.headers.tags') %></strong>
  <%= @task.tags.map(&:name).join(", ") %>
</p>

<%= link_to t('tasks.link.edit'), edit_task_path(@task) %> |
<%= link_to t('tasks.link.back'), tasks_path %>
