<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to t('navbar.home'), root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <% if current_user&.role == "admin" %>
          <li class="nav-item">
            <%= link_to t('navbar.admin_interface'), admin_users_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to t('tasks.link.english'), url_for(locale: 'en'), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('tasks.link.chinese'), url_for(locale: 'zh-TW'), class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to t('tasks.link.new_task'), new_task_path, class: "btn btn-success mx-2 text-decoration-none" %>
        </li>
        <li class="nav-item mx-1">
          <%= link_to t('groups.links.create_group'), new_group_path, class: "btn btn-success text-decoration-none" %>
        </li>
        <% if current_user %>
          <!-- Notification Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= t('navbar.notification') %> 
              <% if @unread_count.to_i > 0 %>
                <span class="badge bg-danger"><%= @unread_count %></span>
              <% end %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if @unread_count.to_i > 0 %>
                <% @notifications.each do |notification| %>
                  <li class="dropdown-item">
                    <%= notification.message %>
                    <div class="mt-2">
                      <%= link_to t('navbar.notification_links.mark_as_read'), mark_as_read_notification_path(notification), data: { turbo_method: :patch }, class: "btn btn-sm btn-outline-primary" %>
                      <% if notification.task.present? %>
                        <%= link_to t('navbar.notification_links.view_tasks'), task_path(notification.task), class: "btn btn-sm btn-outline-secondary ms-2" %>
                      <% else %>
                        <span class="text-muted"><%= t('navbar.notification_links.task_not_found') %></span>
                      <% end %>
                    </div>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                <% end %>
                <% if @unread_count > 5 %>
                  <li class="dropdown-item text-center">
                    <%= link_to t('navbar.notification_links.view_all_notifications'), notifications_path %>
                  </li>
                <% end %>
              <% else %>
                <li class="dropdown-item text-muted"><%= t('navbar.notification_messages.no_notification') %></li>
              <% end %>
            </ul>
          </li>
          <!-- User Links with Avatar -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if current_user.avatar.present? %>
                <%= image_tag current_user.avatar.url(:thumb), class: "rounded-circle me-2", width: 30, height: 30 %>
              <% else %>
                <%= image_tag "default_avatar.jpg", class: "rounded-circle me-2", width: 30, height: 30 %>
              <% end %>
              <%= current_user.email %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li>
                <%= link_to t('users.headers.update_password'), edit_user_path(current_user), class: "dropdown-item" %>
              </li>
              <li>
                <%= link_to t('navbar.update_avatar'), edit_profile_path, class: "dropdown-item" %>
              </li>
              <li>
                <%= link_to t('navbar.my_tasks'), personal_tasks_path, class: "dropdown-item" %>
              </li>
              <li>
                <%= link_to t('navbar.my_groups'), groups_path, class: "dropdown-item" %>
              </li>
              <li>
                <%= link_to t('navbar.logout'), logout_path, class: "dropdown-item", data: { turbo_method: "delete", turbo_confirm: t('users.confirm.logout') } %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to t('navbar.login'), login_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
