<h3><%= t('tasks.headers.all_tasks') %></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('tasks.headers.title') %><%= sort_link('title', '  ▼') %></th>
      <th><%= t('tasks.headers.priority') %><%= sort_link('priority', '  ▼') %></th>
      <th><%= t('tasks.headers.status') %></th>
      <th><%= t('tasks.headers.start_time') %><%= sort_link('start_time', '  ▼') %></th>
      <th><%= t('tasks.headers.end_time') %><%= sort_link('end_time', '  ▼') %></th>
      <th><%= t('tasks.headers.group') %></th>
      <th><%= t('tasks.headers.shared_count') %><%= sort_link('shared_count', '  ▼') %></th>
      <th><%= t('tasks.headers.actions') %></th>
    </tr>
  </thead>
  <tbody id="normal-tasks">
    <% if @tasks.any? %>
      <% @tasks.each do |task| %>
        <tr data-task-id="<%= task.id %>">
          <td><%= link_to task.title, task_path(task.id), class: "text-decoration-none task-title", title: task.title %></td>
          <td><%= t("enums.task.priority.#{task.priority}") %></td>
          <td><%= t("enums.task.status.#{task.status}") %></td>
          <td><%= format_datetime(task.start_time) %></td>
          <td><%= format_datetime(task.end_time) %></td>
          <td>
            <% if task.groups.any? %>
              <%= task.groups.map(&:name).join(', ') %>
            <% else %>
              <div class="mt-3">
                <p><%= t('tasks.headers.no_group') %></p>
              </div>
            <% end %>
          </td>
          <td>
            <% shared_count = task.shared_count %>
            <% case shared_count %>
            <% when 1..5 %>
              <%= '☺' * shared_count %>
            <% when 6..Float::INFINITY %>
              <%= '☺☺☺☺☺..more' %>
            <% else %>
              <%= '&nbsp;'.html_safe %>
            <% end %>
          </td>
          <td>
            <%= link_to t('tasks.link.show'), task, class: "btn btn-info btn-sm text-decoration-none" %>
            <%= link_to t('tasks.link.edit'), edit_task_path(task), class: "btn btn-warning btn-sm text-decoration-none" %>
            <%= link_to t('tasks.link.delete'), task, data: { turbo_method: "delete", turbo_confirm: t('tasks.destroy.confirm') }, class: "btn btn-danger btn-sm text-decoration-none" %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="8" class="text-center"><%= t('tasks.headers.no_task') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%= paginate @tasks %>
</div>

<h3 class="mt-2"><%= t('tasks.headers.important_tasks') %></h3>
<table class="table table-striped nb-10">
  <thead>
    <tr>
      <th><%= t('tasks.headers.title') %><%= sort_link('title', '  ▼') %></th>
      <th><%= t('tasks.headers.priority') %><%= sort_link('priority', '  ▼') %></th>
      <th><%= t('tasks.headers.status') %></th>
      <th><%= t('tasks.headers.start_time') %><%= sort_link('start_time', '  ▼') %></th>
      <th><%= t('tasks.headers.end_time') %><%= sort_link('end_time', '  ▼') %></th>
      <th><%= t('tasks.headers.group') %></th>
      <th><%= t('tasks.headers.shared_count') %><%= sort_link('shared_count', '  ▼') %></th>
      <th><%= t('tasks.headers.actions') %></th>
    </tr>
  </thead>
  <tbody id="important-tasks">
    <% if @important_tasks.any? %>
      <% @important_tasks.each do |task| %>
        <tr data-task-id="<%= task.id %>">
          <td><%= link_to task.title, task_path(task.id), class: "text-decoration-none task-title", title: task.title %></td>
          <td><%= t("enums.task.priority.#{task.priority}") %></td>
          <td><%= t("enums.task.status.#{task.status}") %></td>
          <td><%= format_datetime(task.start_time) %></td>
          <td><%= format_datetime(task.end_time) %></td>
          <td>
            <% if task.groups.any? %>
              <%= task.groups.map(&:name).join(', ') %>
            <% else %>
              <div class="mt-3">
                <p><%= t('tasks.headers.no_group') %></p>
              </div>
            <% end %>
          </td>
          <td>
            <% shared_count = task.shared_count %>
            <% case shared_count %>
            <% when 1..5 %>
              <%= '☺' * shared_count %>
            <% when 6..Float::INFINITY %>
              <%= '☺☺☺☺☺..more' %>
            <% else %>
              <%= '&nbsp;'.html_safe %>
            <% end %>
          </td>
          <td>
            <%= link_to t('tasks.link.show'), task, class: "btn btn-info btn-sm text-decoration-none" %>
            <%= link_to t('tasks.link.edit'), edit_task_path(task), class: "btn btn-warning btn-sm text-decoration-none" %>
            <%= link_to t('tasks.link.delete'), task, data: { turbo_method: "delete", turbo_confirm: t('tasks.destroy.confirm') }, class: "btn btn-danger btn-sm text-decoration-none" %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="8" class="text-center mt-2"><%= t('tasks.headers.no_task') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
