<script type="text/javascript">
  var locale = "<%= I18n.locale %>";
</script>

<h1 class="mb-4"><%= t('tasks.headers.group_tasks') %></h1>

<%= render 'shared/filter_task_form', url: group_tasks_path %>

<div class="col-auto mb-3 d-flex align-items-start gap-3">
  <button id="showCalendarButton" class="btn btn-primary"><%= t('tasks.headers.show_calendar') %></button>
  <%= link_to t('tasks.link.personal_tasks'), personal_tasks_path, class: "btn btn-success text-decoration-none" %>
  <%= link_to t('tasks.link.update_tasks'), request.path, class: "btn btn-warning text-decoration-none" %>
</div>

<%= render 'shared/task_item' %>
